* {
    display: flex; 
    flex-direction: column;
    text-align: center;
    font-size: 13px;
 }
 .instaLogo {
     border: 1px solid lightgray; 
     margin-top: 15px; 
     padding-top: 30px; 
     padding-bottom: 30px;
     width: 350px;
     align-items: center;
     margin-left: 470px;
     
 }
 .instaLogo img {
     width: 145px;
     margin-left: 30px;
     margin-top: 5px;
 }
 strong {
     color: gray;
 }
 p {
     
 }
 .btn {
     margin-left: 500px;
     margin-right: 500px;
     align-items: center;
     width: 280px;
     font-weight: bolder;
 }
 .line {
     margin-top: 20px;
 }
 .arrow {
     background-color:lightgray;
     height: 1px;
     width: 280px;
     margin-left: 10px;
     margin-top: -10px;
 }
 .content {
   padding-left: -5px;
   padding-right:-5px ;
   margin-top: -20px;
   margin-left: 5px;
   margin-right: 5px;
 }
 form {
     margin-top: 5px;
 }
 input {
     margin-left: 300px;
     margin-right: 300px;
 
 }
 .inputText {
 font-size: 12px;
 text-align: start;
 margin-top: 5px;
 margin-bottom: 5px;
 width: 280px;
 background-color: #f5f6f8;
 border: 1px solid lightgray;
 padding: 5px;
 }
 .login {
     border: 1px solid lightgray; 
     justify-items: center;
     margin-top: 20px;
     width:350px;
     margin-left: 470px;
     padding: 8px;
     margin-bottom: 20px;
 }
 .login a {
     text-decoration: none;
     font-weight: 600;
 }
 .downloadLogo {
    flex-direction: row;
    align-items: center;
    margin-top:10px;
 }
 .get {
     align-items: center;
 }
 .gPlay {
    width: 150px;
 }
 .mSoft {
    width: 125px;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 